<!DOCTYPE html>
<html>
<head>
	<title>Campify – Create your campground website</title>
<%= javascript_include_tag('jquery').indent(1) %>
<%= javascript_include_tag('rails').indent(1) %>
<%= csrf_meta_tag.indent(1) %>
</head>
<body>

<%= yield %>

</body>
</html>
